{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Przypisz{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> Przypisz dział i rolę </h1>
            <br/>
            <p>
                Wybierz dział i rolę do przypisania użytkownikowi
                <span style="color: #aec251;">
                    {{ employee.first_name }} {{ employee.last_name }}
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}